@media (device-width: 100vw) and (device-height: 100vh) {
    #title {
      padding: 0px !important;
    }
  }
#title{
  text-align: left;
  margin-top:85px;
}
#details{
  text-align: left;
  padding: 0 3%;
  padding-bottom: 6.5rem;
}

body{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #fff;
  overflow-x: hidden;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1;
  color: #113963;
}
h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  line-height: 1;
}
h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color:#fff;
}
h4{
  font-family: 'Poppins', sans-serif;
  color:#fff;
}
p{
  color:#486e99;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}
hr{
  border-style: solid none none;
  border-color: #486e99;
  border-width: 4px;
  border-radius:5px;
  width:40%;
  text-align:left;
  margin-left:0;
}

.carousel-item{
  padding:3% 2% 2% 2%;
  text-align:center;
  background-color: #113963;
}

/* Navigation Bar */
.container-fluid{
  padding: 0 0 4%;
}
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: #113963; */
  display:flex;
  padding:16px 112px;
  background:#113963;
  align-items:center;
  position:fixed;
  top:0;
  width:100%;
  z-index:5000;
  box-shadow:0 2px 2px #113963;
}
.navbar-brand{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight:bold;
}
.nav-item{
  padding:0 18px;
  font-family: 'Poppins', sans-serif;
}
.nav-link{
  font-size: 1.2rem;
  color:#000;
}
.logo{
  width:150px;
  height:150px;
}
.gif{
  width:700px;
  height:500px;
}
.pic{
  width:130px;
  height:90px;
}

#features{
  background-color: #113963;
  position: relative;
  z-index: 1;
  color:#fff;
}
.feature-box{
  padding:8%;
}
.benefit{
  color:#fff;
}

#clothes{
  background-color: #fff;
  position: relative;
  z-index: 1;
  color:#113963;
}
.cloth-box{
  padding:10% 7%;
}
.new1{
  color:#113963;
  margin-top:100px;
}
.shop{
  width:500px;
  height:400px;
}

#area{
  background-color: #113963;
  position: relative;
  z-index: 1;
  color:#fff;
}
.area-box{
  padding:8%;
}
.area{
  color:#fff;
}
.down{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
  color:#113963;
}

#footer{
  padding:1%;
  text-align: center;
}
.copy{
  color:#113963;
  font-size: 1.5rem;
}
.divide{
  border-style: solid none none;
  border-color: #486e99;
  border-width: 4px;
  border-radius:5px;
  width:100%;
  text-align:left;
  margin-left:0;
}

/* //media query//centr font discount// heading down card upar
//apparel full screen
//area of service == payment
//navigation bar fixed */
